.login
  margin-top 40px
  h1
    font-size 3em
    text-align center
    text-transform uppercase
    margin-bottom 15px
  .logo
    background url(images/eha-logo.svg) no-repeat
    height 1000px
    width 1000px
    position absolute
    left 50%
    transform translate(-80%, -50%)
    opacity .05

.login
  button
    margin 35px auto
    min-width 50%
    padding 15px 10px
    background $gray-m
    font-size 1.3em
    border 2px solid $gray-md
    &:focus
      background $gray-m
    &:hover
      background $gray-md
    &:focus
    &:focus:active
    &:active
      outline 0
      box-shadow none
    &:active
    &:focus:active
      background $gray-d
    &:focus
      border-color $primary
