label
  font-size 1.3em
  font-weight 600

.form-control
  min-height 2.2em
  font-size 1.3em
  border 2px solid $gray-l
  &:focus
    border-color $primary
    box-shadow none

.form-group
  margin-bottom 20px
