
html
body
  width 100%
  height 100%
  background $gray-ll
  color #333

body
  font-family $body-font

h1
h2
h3
  font-family $header-font
  color $gray-md

.main-content
  width calc(100% - 100px)
  margin-left 100px
  &.main-content--login
    margin-left 0
    width 100%

.dash-row-main
  margin-top 50px

.primary
  font-size 1.5em
  font-weight 700
  font-family $header-font

.primary
.secondary
  text-align right

.title
  display flex
  align-items center

.info-block
  background white
  padding 15px
  border-radius 3px
  h2
    margin-top 0
    text-transform uppercase

.month-users
  margin-bottom 20px
