
html
body
  width 100%
  background $gray-ll
  color #333

body
  font-family $body-font

h1
h2
h3
  font-family $header-font
  color $gray-md

.page-wrapper
  display flex
  align-items stretch
  height 100vh

.main-content
  flex 1 1 95%

.dash-row-main
  margin-top 50px

.primary
  font-size 1.5em
  font-weight 700
  font-family $header-font

.primary
.secondary
  text-align right

.title
  display flex
  align-items center

.info-block
  background white
  padding 15px
  border-radius 3px
  h2
    margin-top 0
    text-transform uppercase

.month-users
  margin-bottom 20px
