@import 'variables.import'
@import 'buttons.import'
@import 'loading.import'

@import 'article.import'

$apps = flirt birt eidr performance

html
body
  width 100%
  height 100%
  background $gray-ll
  color #333

body
  font-family $body-font

h1
h2
h3
  font-family $header-font
  color $gray-md

.page-wrapper
  display flex
  align-items stretch
  min-height 100%

nav
  flex 1 1 5%
  min-width 100px
  background white
  justify-content center
  border-right 5px solid $border-gray
  h1
    height 200px
    text-indent -9999px
    margin 0
    margin-top -30px
    position relative
    overflow hidden
    &::before
      content: ""
      position: absolute
      width 210px
      height 210px
      top -2%
      left -50%
      background url(images/eha-logo.svg) 40% 50% no-repeat
      -webkit-animation spin 99s linear infinite
      -moz-animation spin 99s linear infinite
      animation spin 99s linear infinite
  ul
    margin-top 20px
  li
    position relative
    display block
    &.active
      &::after
        position absolute
        content ''
        top 0
        bottom 0
        right -5px
        width 8px
        background $primary
        border-top-left-radius 2px
        border-bottom-left-radius 2px
  a
    display block
    min-height 100px
    max-width 70%
    margin-left auto
    margin-right auto
    background-size 70%
    text-indent -9999px
  for $app in $apps
    .{$app}
      background url('images/' + $app + '-logo.svg') 40% 50% no-repeat

  .birt
  .eidr
  .performance
    background-size 85%

.main-content
  flex 1 1 95%

.dash-row-main
  margin-top 50px
  margin-bottom 100px

.panels
  display flex
  align-items stretch
  margin-bottom 40px
  background $border-gray

.info-panel
  flex 1 1 0
  background-color #FFF
  cursor pointer
  margin-right 1px
  color $gray-m
  text-shadow 0 1px 0 rgba(255,255,255,.2)
  border-bottom 5px solid $border-gray
  .fa
    font-size 2.5em
  &:last-of-type
    border-right 0
  &:hover
    background-color darken(@background-color, 5%)
  &.active
    color $gray-d
    border-bottom-color $primary
    h2
      color $gray-d

.panel-header
  padding 10px 20px
  display flex
  align-items middle
  justify-content space-between
  h2
    display inline-block
    margin 0 0 0 5px
    text-transform uppercase
    font-weight bold
    font-size 1.75em

.primary
  font-size 1.5em
  font-weight 700
  font-family $header-font

.primary
.secondary
  text-align right

.pane
  width 80%
  margin 0 auto
  &:not(.visible)
    display none

.title
  display flex
  align-items center

#downtime-chart
  .fa
    color black

.info-block
  background white
  padding 15px
  border-radius 3px
  h2
    margin-top 0
    text-transform uppercase

.month-users
  margin-bottom 20px


@-moz-keyframes spin
  100%
    -moz-transform: rotate(360deg)

@-webkit-keyframes spin
  100%
    -webkit-transform: rotate(360deg)

@keyframes spin
  100%
    -webkit-transform: rotate(360deg)
    transform:rotate(360deg)
