// .container
//   height 700px
// .dash-row
//   height 25%
// .dash-row-main
//   height 75%
.panel
  margin: 10px
  // border 1px solid
  border-radius 4px
  // padding 15px
.fa
  color white
.dash-row .panel
  color white
  background-color #d9534f
  cursor pointer
.panel-footer
  background-color #f8f8f8
  text-align right
  color black
.panel-header
  padding 10px
.big
  float right
  font-size 20px
  font-weight 700
  clear both
.small
  clear both
  float right
.panel.active
  background-color #5cb85c
.chart
  display none
#flight-chart
  display block
#downtime-chart fa
  color: black
// .dash-row-main
//   border 1px solid #5cb85c
//   border-radius 4px
