$apps = flirt birt

nav
  position fixed
  top 0
  bottom 0
  width 100px
  display flex
  flex-flow column
  background white
  justify-content center
  border-right 5px solid $border-gray

  h1
    flex 1 0 200px
    background url(images/eha-logo.svg) 40% 50% no-repeat
    background-size cover
    text-indent -9999px
    margin 0
    margin-top -30px

  ul
    margin-top 20px
    height 100%
    flex-grow 1

  li
    position relative
    display block
    &.active
      &::after
        position absolute
        content ''
        top 0
        bottom 0
        right -5px
        width 8px
        background $primary
        border-top-left-radius 2px
        border-bottom-left-radius 2px

    a
      display block
      min-height 100px
      max-width 70%
      margin-left auto
      margin-right auto
      background-size 70%
      text-indent -9999px

  .log-out
    display block
    color $gray-d
    font-size 2em
    text-align center
    padding 20px 0 30px 5px
    border-top 2px solid $border-gray
    &:hover
      background lighten($warning, 20%)
      color white
    &:active
      background $warning


  for $app in $apps
    .{$app}
      background url('images/'+ $app + '-logo.svg') 40% 50% no-repeat

  .birt
    background-size 85%
