template(name='articles')
  .container-fluid
    .row.dash-row-main
      .col-sm-10.col-sm-offset-1
        h2 Article Density
        if diseases
          .row
            .col-sm-8
              select#diseases(placeholder="Select a Disease")
                option
                each diseases
                  option(value=disease)= disease
        else
          +loading
        .article-count-chart
          if selectedDisease
            .time-spans
              span View counts by:
              button(data-tab="Day" class="{{#if selectedTab 'Day'}} selected {{/if}}") Day
              button(data-tab="Week" class="{{#if selectedTab 'Week'}} selected {{/if}}") Week
              button(data-tab="Month" class="{{#if selectedTab 'Month'}} selected {{/if}}") Month
            if articlesReady
              .disease-info
                #disease-chart
            else
              +loading
