template(name='articles')
  .container-fluid
      .row.dash-row-main
        .col-sm-10.col-sm-offset-1
          h2 Article Density
          if diseases
            select#diseases
              option(disabled='disabled' selected='selected') Select
              each diseases
                option(value=this)= this
          if articlesReady
            .time-spans view counts by:
              button.block.day day
              button.block.week week
              button.block.month.current month
          .disease-info
            #disease-chart
            
template(name="loadingModal")
  .modal.fade(role="dialog")
    .modal-dialog
      .modal-content
        .modal-body
          p
            i.fa.fa-circle-o-notch.fa-spin
            | Loading...
