template(name='flightInfo')
  .row
    .col-sm-9.info-block
      h2 Flights
      .chart#flight-chart
    .col-sm-3.info-block
      h2 Days
      .chart#day-chart
  .row
    .col-sm-12.info-block
      .chart#airport-chart
