head
  title ERA
  link(href='https://fonts.googleapis.com/css?family=Oswald:700|Muli:400,300' rel='stylesheet' type='text/css')

template(name="layout")
  .page-wrapper
    if currentUser
      +nav
    .main-content(class="{{#unless currentUser}} main-content--login {{/unless}}")
      +Template.dynamic template=dashboard
