head
  link(href='https://fonts.googleapis.com/css?family=Oswald:700|Muli:400,300' rel='stylesheet' type='text/css')
  script(defer src='/highcharts/highcharts.js')
  
template(name="layout")
  .page-wrapper
    +nav
    .main-content
      +Template.dynamic template=dashboard
