template(name='login')
  h2 Login
  p Email: 
    input#email(type=email, name="email")
  p Password:
    input#password(type="password", name="password")
  p
    input#login(type="submit", value="Login")