template(name="nav")
  nav
    h1 EHA
    ul.list-unstyled
      li(class="{{isActiveRoute regex='home|flirt'}}")
        a.flirt(href="{{pathFor 'flirt'}}") FLIRT
      li(class="{{isActiveRoute 'birt'}}")
        a.birt(href="{{pathFor 'birt'}}") BIRT
      li
        a.no-indent(href="logoutUser") Logout
