template(name="register")
  h2 Register
  p Email: 
    input#email(type="email", name="email")
  p Password:
    input#password(type="password", name="password")
  p
    input#register(type="submit", value="Register")