template(name='userInfo')
  .container-fluid
    .chart.row#active-users-chart
      .col-md-12.col-lg-6
        .row.month-users
          .col-md-6
            .info-block
              h2 108 
              p users in the last 30 days
          .col-md-6
            .info-block
              h2 Busiest day
              p February 29th, 2016 - 16 users
      .col-md-12.col-lg-6.sources
        .info-block
          h2 Traffic Sources
          ul.list-group
            li.list-group-item
              span.label.label-default.label-pill.pull-right 57 visitors
              | google.com
            li.list-group-item
              span.label.label-default.label-pill.pull-right 19 visitors
              | apps.bsvecosystem.net
            li.list-group-item
              span.label.label-default.label-pill.pull-right 28 visitors
              | localhost:8080
