template(name='userInfo')
  .chart.row#active-users-chart
    .col-md-6
      .row.month-users
        .col-md-6
          h1 108 
          | users in the last 30 days
        .col-md-6
          h1 Busiest day
          | February 29th, 2016 - 16 users
    .col-md-6.sources
      h4 Traffic Sources
      ul.list-group
        li.list-group-item
          span.label.label-default.label-pill.pull-right 57 visitors
          | google.com
        li.list-group-item
          span.label.label-default.label-pill.pull-right 19 visitors
          | apps.bsvecosystem.net
        li.list-group-item
          span.label.label-default.label-pill.pull-right 28 visitors
          | localhost:8080
